<% provide(:title, "about") %>

<h1>Our story</h1>
<br>
<h4>Nestled in the beautiful Pacific Northwest, NATURELO was founded by a young family who believed that our nutrition should come from nature, not from a lab. So we decided to make vitamins and minerals from real fruits and vegetables, just like they are found in nature.</h4>
<br>
<p>Healthy habits weren’t enough
We’ve always been passionate about health. We invested in fresh, organic foods and made time in our busy schedules for home cooking and regular exercise. Still, we found that getting all of the vitamins and minerals we needed through our diet was more challenging than it appeared. And if it was hard for us, we knew it must be hard for others, too.</p>
<p>That’s how NATURELO was born! We must have struck a chord with others just like us, because our whole food multivitamins quickly took off. Today, we offer a full line of 50+ nutritional supplements — all made with clean, natural ingredients, just the way your body likes it. Our mission is to make the healthy benefits of whole food nutrition more affordable, convenient, and accessible for all.</p>
