<% provide(:title, "about") %>

<br>
<div class="about-section">
  <h1>Our Story</h1>
  <br>
  <h5>Nestled in the beautiful Pacific Northwest, NATURELO was founded by a young family who believed that our nutrition should come from nature, not from a lab. So we decided to make vitamins and minerals from real fruits and vegetables, just like they are found in nature.</h5>
  <br>
  <hr>We’ve always been passionate about health. We invested in fresh, organic foods and made time in our busy schedules for home cooking and regular exercise. Still, we found that getting all of the vitamins and minerals we needed through our diet was more challenging than it appeared. And if it was hard for us, we knew it must be hard for others, too.</hr>
  <hr>We decided to create a line of multivitamins made with real, plant-based ingredients — even if it was difficult (which it was!). We would source our vitamins and minerals from organic fruits and vegetables whenever possible — like Vitamin C from Acerola Cherries, Vitamin E from Sunflower Seeds, and Calcium from Algae. For the vitamins that weren’t available in plant-based form, we’d source them through fermentation. And we’d blend all the ingredients in a base of organic fruits and vegetables for that extra whole food goodness our bodies crave.</hr>
</div>

