<% provide(:title, "home") %>
<br>
<div>
<div class="jumbotron text-center text-white">
  <h1 class="display-4">WHOLE FOOD NUTRITION FROM NATURE WITH LOVE</h1>
  <br>
  <h4>We believe that the best nutrition comes from nature, not from a lab -- just the way your body likes it.</h4>
  <br>
  <hr class="my-4">
  <h4>Our supplements are free of GMOs, preservatives, and common allergens like gluten, dairy, and soy.</h4>
  <br>
  <h4>We offer a full line of 50+ nutritional supplements — all made with clean, natural ingredients, just the way your body likes it. Our mission is to make the healthy benefits of whole food nutrition more affordable, convenient, and accessible for all.</h4>
</div>
