<% provide(:title, "home") %>

<div class="jumbotron text-center text-white">
  <h1 class="display-4">WHOLE FOOD NUTRITION FROM NATURE WITH LOVE</h1>
  <h4>We believe that the best nutrition comes from nature, not from a lab -- just the way your body likes it.</h4>
  <hr class="my-4">
  <h4>Our supplements are free of GMOs, preservatives, and common allergens like gluten, dairy, and soy.</h4>

</div>