<% provide(:title, "Home") %>

<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
        <h1 class="display-4">Our story</h1>
        <p class="lead">Nestled in the beautiful Pacific Northwest, NATURELO was founded by a young family who believed that our nutrition should come from nature, not from a lab. So we decided to make vitamins and minerals from real fruits and vegetables, just like they are found in nature.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
        </p>
        </div>
    </div>
</div>

 <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Sorina Alexandrescu</small>
    </div>
  </footer>