/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
* require_tree .
 */
 
 @import "bootstrap/scss/bootstrap";

 .headSec {
   min-height:10px;
   background-color: #339933;
   width: 100%;
   margin-bottom:10px;
   overflow: auto;
  }

.headSec h1 {
   color: #ffffff;
   font-size: 60px;
   padding: 15px;
  }

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #55554f;
   font-size: 15px;
  }

li {
  float:left;
  }
  
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.mainCont {
  margin: auto;
  width:80%;
  padding: 10px;
  text-align: center;
  }

.welcomeIm {
   width: 30%;
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: #55554f;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }

input[type=submit]:hover {
    background-color: #45a049;
   }

.jumbotron{
    background-image: asset-url('image_home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #9fdf9f;
  color: #55554f;
  height: 650px;
}


.foot {
  background-color: #55554f;
  opacity: 0.8;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  height: 100px;
}

.home-newsletter {
  padding: 15px;
  }
  
.home-newsletter .single {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}

  .home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px; }

  .home-newsletter .single .form-control {
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px; }

  .home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #339933; }

  .home-newsletter .single .btn {
  min-height: 40px; 
  border-radius: 0 20px 20px 0;
  background: #339933;
  color: #fff;
  }