// Place all the styles related to the StaticPages controller here.
@import 'bootstrap/dist/css/bootstrap';

.container-fluid{
    background-color: #248f24;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#navbarDropdown {
    color: white;
}

#home, #about, #contact { 
    color: white;
}
    
#home-container{
    margin-top: 25px;
}

.jumbotron{
    background-image: asset-url('image_home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

html,
body {
  height: 100%;
}

#page-content {
    flex: 1 0 auto;
}
  
#sticky-footer {
    flex-shrink: none;
}



